
<div class="template contactus-thankyou checkoutForm" data-view="ContactUsThankyouViewModel" >
    <header>
        <h1>Thank you for contacting Artizone.</h1>
    </header>
    <div id="formContainer" class="contentFull contentBackground">
        <p> </p>
        <h2>Your service call has been forwarded.</h2>
        <p>
            We'll be in touch shortly. 
        </p>
        <p>
            For any additional information, don't hesitate to call us at: 1-888-895-7562
        </p>
    </div>
</div>
