<div class="template checkout-deliveryTime checkoutForm" data-view="DeliveryTimeViewModel">
    <ul class="validation-errors" data-bind="foreach: notifications, visible: hasNotifications()">
        <li data-bind="attr: { 'class': notificationType }">
            <span class="message" data-bind="text: message"></span>
        </li>
    </ul>
    <span data-bind="visible: !ready()">Processing...</span>
    <fieldset class="chckoutForm" data-bind="visible: ready">
        <div data-bind="with:deliveryInfo, visible: showEditDeliveryInfo()" class="deliveryInfoAddressDisplay">
            <label>Deliver to:</label>
            <span data-bind="text: getName() +' ' + getLastName()"></span>
            <span data-bind="text: getAddress()"></span>
            <span data-bind="text: getCity()+ ', ' + getState() + ' ' + getZip()"></span>
        </div>
        <a class="editDeliveryInfoButton" data-bind="click: editDeliveryInfo">Edit</a>
        

        <label data-bind="validationElement: selectedSlot">Select delivery slot
            <select data-bind="
                optionsCaption:'Select a delivery slot...',
                options: timeSlots,
               
                optionsValue: 'value',
                optionsText: 'text',
                value: selectedSlot">
            </select>
        </label>
    </fieldset>
    <footer class="coActions" data-bind="visible: ready">
        <button  data-ga-category="Checkout on mobile" data-ga-label="Continue and set payment info button" data-ga-action="click" class="btn btnGreen" data-bind="click: submitDeliveryTime">Continue and set payment info (Step 3 of 3)</button>
    </footer>
    </div>