<form name="form" ng-submit="register()" class="css-form login" ng-class="formClass" novalidate>
    <span class="caption">דוא"ל: </span><input ng-model="username" name="email" type="email" required ng-focus="!focusName" tabindex="1" class="field" /><br />
    <span class="caption">ססמא: </span><input ng-model="password" type="password" required tabindex="2" class="field" /><br />
    <span class="caption">שם מלא: </span><input tabindex="3" ng-focus="focusName" required ng-model="name" class="field" /><br />
    <input type="submit" tabindex="4" value="הרשמה" />
    <div>{{error}}</div>
</form>