
<span class="template addToCart">
    <button class="addToCart btn btnGreen" data-bind="visible: showAddToCart, click: addToCart">Add to cart</button>
    <span class="qtyUpdate" data-bind="visible: showEditQty">
        
        <button class="btn btnBeige" data-bind="click: DecrementQty">-</button>
        <input type="number" data-bind="value: qty, event: { change: updateQty }, attr: { 'data-decimal': isDecimal }" />
        <button class="btn btnBeige" data-bind="click: IncrementQty">+</button>
        <span class="priceDollar">$</span><span class="productSubTotal" data-bind="text: subTotal"></span>
        <button class="removeFromCart" data-bind="click: removeFromCart, visible: showRemoveButton">X</button>
    </span>
</span>