<div class="template checkout-deliveryInfo checkoutForm" data-view="DeliveryInfoViewModel">

    <ul class="validation-errors" data-bind="foreach: notifications, visible: hasNotifications()">
        <li data-bind="attr: { 'class': notificationType }">
            <span class="message" data-bind="text: message"></span>
        </li>
    </ul>
    <span data-bind="visible: !ready()">Processing...</span>
    <fieldset class="chckoutForm" data-bind="visible: ready">
        <label data-bind="validationElement: name">*First name
            <input type="text" data-bind="value: name" />
        </label>
        <label data-bind="validationElement: lastName">*Last name
            <input type="text" data-bind="value: lastName" />
        </label>
        <label data-bind="validationElement: deliveryPhone">*Primary phone 
            <input type="text" data-bind="value: deliveryPhone" />
            <small>(e.g., (214) 123-4567 )</small>
        </label>
        <label>Secondary phone
            <input type="text" data-bind="value: secondDeliveryPhone" />
        </label>
        <label data-bind="validationElement: address">*Street address
            <input type="text" data-bind="value: address" />
        </label>
        <label data-bind="validationElement: city">*City
            <input type="text" data-bind="value: city" />
        </label>
        <label data-bind="validationElement: state">*State
            <input type="text" data-bind="value: state" />
        </label>
        <label data-bind="validationElement: deliveryZip">*Zip
            <input type="text" data-bind="value: deliveryZip" /> <!-- knockout unknown bug - more than one field with the same name -->
        </label>
        <label>Comments
            <input type="text" data-bind="value: comments" />
        </label>
        <label data-bind="validationElement: substitute">*Substitute policy <br/>
            <span>If an item is out of stock, please...</span>
            <select data-bind="value: substitute, options: substituteOptions, optionsText: 'k', optionsValue: 'v', optionsCaption: 'Select your preference'" >
                @*<option value="10">Remove product from order</option>
                <option value="20">Provide closest match</option>
                <option value="30">Call me and suggest an alternative</option>*@
            </select>
           
        </label>
         
    </fieldset>
    <footer class="coActions" data-bind="visible: ready">
        <button data-ga-category="Checkout on mobile" data-ga-label="Continue and set delivery time button" data-ga-action="click" class="btn btnGreen" data-bind="click: submitDeliveryInfo">Continue and set delivery time (Step 2 of 3)</button>
    </footer>
</div>