<div class="template checkout-paymentInfo checkoutForm" data-view="PaymentInfoViewModel">
    <ul class="validation-errors" data-bind="foreach: notifications, visible: hasNotifications()">
        <li data-bind="attr: { 'class': notificationType }">
            <span class="message" data-bind="text: message"></span>
        </li>
    </ul>
    <span data-bind="visible: !ready()">Processing...</span>
    <fieldset class="chckoutForm" data-bind="visible: ready">
        <div data-bind="with: deliveryInfo, visible: showEditDeliveryInfo()" class="deliveryInfoAddressDisplay">
            <label>Deliver to:</label>
            <span data-bind="text: getName() + ' ' + getLastName()"></span>
            <span data-bind="text: getAddress()"></span>
            <span data-bind="text: getCity() + ', ' + getState() + ' ' + getZip()"></span>
        </div>
        <a class="editDeliveryInfoButton" data-bind="click: editDeliveryInfo">Edit</a>
        
        <div data-bind="visible: showEditDeliveryTime()" class="deliveryTimeDisplay">
            <label>Your items will be delivered on: </label>
            <span data-bind="text: deliveryTime"></span>
        </div>
        <a class="editDeliveryTimeButton" data-bind="click: editDeliveryTime, visible: showEditDeliveryTime">Edit</a>

        <div class="formBox">
            <label data-bind="if: hasBalance">
                <input type="checkbox" data-bind="checked: useBalance" />
                Pay with my Artizone balance ($<span data-bind="text: usableBalance"></span>)
            </label>
        </div>
        <div class="formBox">
            <label>
                I have a coupon
                <input type="text" name="coupon" value="" data-bind="value: couponCode" /></label>
            <button type="button" data-bind="click: removeCoupon, visible: couponState() == 'loaded'">Remove</button>
            <button type="button" data-bind="click: redeemCoupon, visible: couponState() != 'loaded'">Redeem</button>
            <span data-bind="text: redeemError, visible: hasRedeemError"></span>
            <span data-bind="visible: couponState() == 'loaded'">
                <br />
                Your coupon has been successfully redeemed</span>
            <span data-bind="visible: couponState() == 'removed' && !hasRedeemError()">
                <br />
                Coupon removed</span>
        </div>
        <div class="formBox">
            <label>
                <input type="checkbox" data-bind="checked: isTipping" />
                Yes, I want to add a tip to my order
            </label>
            <input type="number" maxlength="5" min="0" data-bind="positiveNumericValue: tip, enable: isTipping" />
        </div>

        <label>
            Payment card
            <select data-bind="
    options: cards,
    optionsText: 'cardDisplay',
    optionsValue: 'cardId',
    value: selectedCardId">
            </select>
        </label>

        <div data-bind="with: selectedCard">
            <label data-bind="validationElement: cardNumber">
                *Credit card number
                <input type="text" maxlength="20" data-bind="value: cardNumber, enable: enabled" />
            </label>
            <label data-bind="validationElement: expMonth">
                *Expiration month
                <select data-bind="options: $parent.possibleMonths, value: expMonth, enable: enabled">
                </select>
            </label>
            <label data-bind="validationElement: expYear">
                *Expiration year
                <select data-bind="options: $parent.possibleYears, value: expYear, enable: enabled">
                </select>
            </label>
            <label data-bind="validationElement: securityCode">
                *Security code
                <input type="text" data-bind="value: securityCode, enable: enabled" />
            </label>


            <label data-bind="validationElement: name">
                First name
                <input type="text" data-bind="value: name, enable: enabled" />
            </label>
            <label data-bind="validationElement: lastName">
                Last name
                <input type="text" data-bind="value: lastName, enable: enabled" />
            </label>
            <label data-bind="validationElement: paymentPhone">
                *Primary phone
                <input type="text" data-bind="value: paymentPhone, enable: enabled" />
                <small>(e.g., (214) 234-5678)</small>
            </label>
            <label data-bind="validationElement: address">
                *Street address
                <input type="text" data-bind="value: address, enable: enabled" />
            </label>
            <label data-bind="validationElement: city">
                *City
                <input type="text" data-bind="value: city, enable: enabled" />
            </label>
            <label data-bind="validationElement: state">
                State
                <select data-bind="options: $parent.states, value: state, enable: enabled"></select>
            </label>
            <label data-bind="validationElement: paymentZip">
                *Zip
                <input type="text" data-bind="value: paymentZip, enable: enabled" />
            </label>
        </div>

    </fieldset>


    <footer class="coActions" data-bind="visible: ready() && showFooter()">
        <div class="COSum">
            <div>Subtotal: $<span data-bind="text: subtotal"></span></div>
            <div data-bind="visible: hasDiscount">Discount: -$<span data-bind="    text: discount"></span></div>
            <div>Tax: $<span data-bind="text: tax"></span></div>
            <div>Delivery: $<span data-bind="text: delivery"></span></div>

            <div data-bind="visible: isTipping()">Tip: $<span data-bind="    text: tip"></span></div>
            <div class="COSumTotal">
                <div data-bind="if: useBalance">
                    <span>Total: </span>$<span data-bind="text: total"></span>
                    <br />
                    Balance: -$<span data-bind="text: usableBalance"></span>
                </div>
                <div>
                    <span>You pay: </span>$<span data-bind="text: youPay"></span>
                </div>
            </div>
        </div>
        <button data-ga-category="Checkout on mobile" data-ga-label="Submit order button" data-ga-action="click" class="btn btnGreen" data-bind="click: submitPaymentInfo">Submit order</button>
    </footer>
</div>
