

<div class="template product-index" data-view="ProductsIndexViewModel">
    <div  class="search">
        <span>
            <input  data-bind="value: searchInput, valueUpdate: 'afterkeydown', event: { keypress: searchKeyboardCmd } " type="search" placeholder="Search for products"/>
            <button data-ga-category="Searching products from mobile" data-ga-label="search button on mobile" data-ga-action="click" type="button" data-bind="click: onSearch" title="Search"> </button>
        </span>
    </div>
    <span data-bind="visible: noResults, text: 'No results found for ' + lastSearchTerm "></span>
    <ul data-bind="foreach: products">
        
   
        <li data-bind="if: itemType == 'campaign', visible: itemType == 'campaign'" class="rtcm">
            <img  data-bind="attr: { src: image1Url }, click: handleLinkUrl, visible: isImage1Visible()" />
            <div>
                <div data-bind="click: handleLinkUrl ">
                    <h2 data-bind="text: title "></h2>
                    <p  data-bind="text: description "></p>
                    <a  data-bind="text: linkText"></a>
                </div>

                    <div data-bind="css: finePrintClass, attr: { id: 'fpCampaign' + campaignId }" data-fp-fetched="false">
                    <button class="removeFromCart" data-bind="click: handleLinkUrl"></button>
                    <p data-bind="attr: { id: 'fpStaticText' + campaignId }"></p>
                    <p data-bind="attr: { id: 'fpDescriptionText' + campaignId }"></p>
                    <p data-bind="attr: { id: 'fpDuration' + campaignId }"></p>    
                </div>
            </div>
        </li>
    
        <li data-bind="if: itemType == 'product', visible: itemType == 'product'">
            <img data-bind="attr: { src: image }, click: showDetails"/>
            <div class="productInfo">
                <span class="name" data-bind="text: name, click: showDetails"></span>
                <p class="description" data-bind="text: description"></p>
                <span class="price" data-bind="click: showDetails">
                    $<span data-bind="text: price"></span> /
                    <span class="uom" data-bind="text: UOM"></span>
                    <span class="pawDescription" data-bind="text: pawDescription, visible: isPawVisible()"></span>
                </span>
                    
            </div>
            <span class="addToCartContainer" data-bind="with: addToCartViewModel" ></span>
            <div  data-bind="css: isDetailsVisible">  
                <span class="cart-index"><button class="removeFromCart" data-bind="click: showDetails"></button></span>
                <div class="content">
                    <img data-bind="attr: { src: image }"/>
                    <div class="product-text">
                        <span class="name" data-bind="text: name"></span>
                        <span class="by" >by <span data-bind="text: shop"></span></span>
                        <p data-bind="text: description"></p>   
                        <span class="price" data-bind="click: showDetails">
                            $<span data-bind="text: price"></span> /
                            <span class="uom" data-bind="text: UOM"></span>
                        </span>            
                        <span class="addToCartContainer" data-bind="with: addToCartViewModel" ></span>
                    </div> 
                </div>
            </div>
        </li>

    </ul>
    
    <div data-bind="visible: isLoading() && count() > 0">Loading more products...</div>
    
</div>
