<div class="template misc-privacy" data-view="PrivacyViewModel">

    <div class="pageContent">

        <h1>Privacy Statement</h1>
        <div class="staticContent">
            <a data-bind="click: back">Back</a>
            <div data-id="privacyPage">
            </div>
        </div>
    </div>
</div>
