<div class="template misc-terms" data-view="TermsViewModel">

    <div class="pageContent">
        <h1>Terms And Conditions</h1>
        <div class="staticContent">
            <a data-bind="click: back">Back</a>
            <div data-id="termsPage">
            </div>
        </div>
    </div>
</div>
