<div class="template misc-faq" data-view="FAQViewModel">
  
    <div class="pageContent">
    <h1>FAQ</h1>
        <div class="staticContent">
            <div data-id="faqPage">
            </div>
        </div>
    </div>
        
        
</div>