<div class="template profile-login" data-view="LoginViewModel">
    <div class="siteLogo"> </div>
    <span class="tagline"></span>
    <div class="margin"></div>
    <div data-bind="visible:choose" >
        
        <fieldset  class="loginForm chooseCity">
        <span class="legend"><legend>Choose city:</legend></span>
        <strong>
            <button data-ga-category="Browse shops from mobile" data-ga-label="Browse Dallas button" data-ga-action="click" class="btn btnGreen" data-bind="click: dallas">Dallas</button>
        
            <button data-ga-category="Browse shops from mobile" data-ga-label="Browse Chicago button" data-ga-action="click" class="btn btnGreen" data-bind="click: chicago">Chicago</button>
        </strong>
        <h2>Enjoy the best of the "Big D" or the "Windy City"</h2>
        </fieldset>
        <h2>Or</h2>
    </div>
    
    <fieldset  class="loginForm">
        <span class="legend"><legend>Sign in to an existing account</legend></span>
        <label data-bind="validationElement: email">
            <input type="email" placeholder="Enter email used at registration" data-bind="value: email" />
        </label>
        <label data-bind="validationElement: password">
            <input type="password" placeholder="Enter password used at registration" data-bind="value: password, valueUpdate: 'afterkeydown', event: { keypress: loginKeyboardCmd }" />
        </label>
         <ul class="validation-errors" data-bind="foreach: notifications, visible: hasNotifications()">
        <li data-bind="attr: { 'class': notificationType }">
            <span class="message" data-bind="text: message"></span>
        </li>
    </ul>
        <button data-ga-category="Sign-in from mobile" data-ga-label="sign-in button on mobile" data-ga-action="click" class="btn btnGreen" data-bind="click: login">Sign in</button>
    </fieldset>
    <span>No account yet? <a data-ga-category="Register from mobile" data-ga-label="register button clicked on mobile" data-ga-action="click"
                             data-bind="click: signup">Sign up and start shopping</a></span>
    
    <p>
        Shop for food online and enjoy grocery home delivery
        An impressive variety of fresh food from our local shops and artisans, delivered straight to your home or office.
    </p>
</div>
