<div class="template profile-selectlocaion" data-view="SelectLocationViewModel">
    <h1>Welcome to Artizone</h1>
    <h2>Shop for food online and enjoy grocery home delivery</h2>
    <p>An impressive variety of fresh food from our local shops and artisans, delivered straight to your home or office.</p>
    <div class="citySelection">
        <div>
            Enjoy the best of the
            <strong>Big D</strong>
            <button class="btn btnGreen" data-bind="click: dallas">Shop<br/> Dallas</button>
        </div>
        <div>
            Enjoy the best of the
            <strong>Windy city</strong>
            <button class="btn btnGreen" data-bind="click: chicago">Shop<br/> Chicago</button>
        </div>
    </div>
</div>
