<div class="template profile-appcoming" data-view="AppComingViewModel">
    <div class="margin"></div>
    <div>
        <div class="loginForm appToCome">
            Stay tuned for our coolest iPhone app
        </div>
        <div class="loginForm appToCome">
            Text the word "delivery"<br /> to 33233<br />
            For your $40 coupon for orders above $80
        </div>
        <a class="btn btnGreen" data-bind="click: goAway">Visit our mobile friendly site</a>
    </div>
</div>
