

<!DOCTYPE html>

<html id="htmlTop">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title></title>
    {styles}
    
    <script> var root = '{root}';</script>
</head>
<body>
    
	<div class="siteNavigation" data-view="LayoutHeaderViewModel">
		<header class="header" data-bind="visible: showHeader">
			<a data-ga-bounded='false'  class="menuOpen" data-bind="click: openMenu"> </a>
			<div class="open_menu" data-bind="click: openMenu"></div>
			<a data-ga-category="Mobile Header" data-ga-label="Logo icon clicked" data-ga-action="click"  class="siteLogo" href="#" data-bind="click: home"> </a>
			<div class="cartHeaderLink">
				<a href="#" data-ga-category="Cart on mobile" class="cartHeader" data-ga-label="cart button on mobile" data-ga-action="click" data-bind="click: cart"> </a>
			</div>
		</header>

		
		<div class="mainNav" data-view="LayoutNavViewModel">
			<nav>
				<span data-bind="visible: showLogin">
					<a  href="#" data-bind="click: login">Login</a>
				</span>
				<span  data-bind="click: cart">Checkout</span>
				<span data-bind="text: 'Hi ' + name() + ' ', visible: !showLogin()"></span>
				<span data-bind="visible: showLogin">
					<a  href="#" data-bind="click: signup, visible: showLogin">New? Sign up</a> 
				</span>
				<ul data-bind="foreach: categories">
					<li>
						<a  href="#" 
							data-bind="attr: { 'data-ga-label': name+' category button from navigation menu' }, text: name, click: categoryClicked, css: className"></a> 
					</li>
				</ul>
				<span>
					<a data-bind="click: showFaq">FAQ</a>
				</span>
				<span>
					<a data-bind="click: showTerms">Terms And Conditions</a>
				</span>
				<span>
					<a  data-bind="click: showPrivacy">Privacy statement</a>
				</span>
				<span>
					<a data-bind="click: contactUs">Contact us</a>
				</span>
				<span data-bind="visible: !showLogin()">
					<a  href="#" data-bind="click: logout">Logout</a>
				</span>
			</nav>
		</div>
	</div>

	<div class="views" data-main-view="product-index">
	</div>

    {templates}

	{scripts}

</body>
</html>
