@font-face {
            font-family: 'Alef-Regular';
            src: url('Alef-Regular.eot?') format('eot'),
            url('Alef-Regular.woff') format('woff'),
            url('Alef-Regular.ttf') format('truetype'),
			url('Alef-Regular.svg') format('svg');
}

body{
    direction: rtl;
    font-family:Alef-Regular;
    font-size: 18px;
    padding-right:20px;
    color:#1A1A1A;
margin-top: -53px;
}

h1{
    margin: 0;
    padding: 0;
    line-height: 2px;
    margin-top: 17px;
    width: 100%;
}

a{
    text-decoration:none;
    color:#2C4762;
}
a.header{
    color:#1A1A1A;
    color: #1A1A1A;
    display: inline-block;
    width: 100%;
    padding-right: 0px;
    position: relative;
    right: -9px;
    border-bottom: 1px solid #1a1a1a;
    padding-right: 86px;
    box-sizing: border-box;
    padding-bottom:14px;
}
.login .caption{
    position:absolute;
}
.login .field{
    margin-right:101px;
}
.song p.lyrics{
    margin-top: 1px;
    line-height: 16px;
}
.song .title{
    text-decoration:underline;
}
.newSong .title input {
width:100%;
}
.newSong .title{
    width:100%;
    
    margin:0;
    padding-left:0;
    box-sizing: border-box;  
}
.newSong input, .newSong textarea{
    font-family: Alef-Regular;
    font-size: 20px;
}

.newSong textarea.lyrics{
    width:100%;
    height:80px;
}
@media all and (min-width: 700px){
    .newSong textarea.lyrics{
        width:50%;
    }
    
    .newSong .title{
        width:50%;
    }
}
.tagline{
    line-height: 40px;
    display: block;
    
    font-size: 20px;
}

ul.preview{
    
    list-style-position: inside;
    list-style: none;
    padding: 0;
}

    ul.preview li {
        display: inline-block;
        margin-left: 90px;
    }




    /*************************/


#logo{
    direction:ltr;
    height: 65px;
    width: 65px; 
    display:inline-block;
    
top: 69px;
position: relative;
}
    
    #top-border{
        background: #1A1A1A;
        float: left;
        height: 1px;
        width: 64px; }
        
    #top-triangle{
        border-top: 7px solid #ACACAC;
        border-right: 8px solid #ACACAC;
        border-bottom: 7px solid #1A1A1A;
        border-left: 7px solid #1A1A1A;
        margin: 1px 0 0 0;
        position: absolute;
        z-index: 9; }
        
    #top-inner{
        
background-color: #ACACAC;
height: 14px;
margin: 1px 0 0 13px;
position: absolute;
width: 52px;
z-index: 9;

    }
        
    #left-filler{
        background-color: #1A1A1A;
        height: 56px;
        margin: 14px 0 0 0;
        position: absolute;
        width: 14px;
        z-index: 9; }
        
    #bottom-left-side-triangle{
        border-top: 9px solid #091d43;
        border-right: 7px solid #091d43;
        border-bottom: 9px solid #fff;
        border-left: 7px solid #fff;
        margin: 54px 0 0 0;
        position: absolute;
        z-index: 9; }
    
    #logo a{
        background-color: #2C4762;
        color: #03d4fd;
        display: block;
        font: normal bold 100px Arial, Verdana, Tahoma, sans-serif;
        font-variant: small-caps;        
        height: 32px;
        letter-spacing: -2px;        
        margin: 14px 0 0 13px;
        padding: 25px 0 0 0;
        position: absolute;
        text-align: center;        
        text-decoration: none;
        text-shadow: 0px 0px 4px #00459d;
        width: 60px;
        z-index: 10; }

    .submitted input.ng-dirty.ng-invalid{
        background-color:#ff7373;
    }