<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Ron Shalit</title>
    <meta name="description" content="personal blog" />
    <meta property="og:title" content="blog" />
	<meta property="og:image" content="" />
    <meta property="og:url" content="" /> 
    <meta property="og:description" content="personal blog" /></head>
   
</head>
<body>
    <div class="container">
        <div class="sixteen columns">

            <h1 class="remove-bottom" style="margin-top: 40px"><a href="/posts">
            <hr />
        </div>
        
        <!-- ======  FOOTER =====-->
        
        <div class="one-third column">
            <h3>About</h3>
            <p>
            
            </p>
        </div>
        <div class="one-third column">
            <h3>Topics?</h3>
            <p></p>
            
            
        <div class="one-third column">
            <h3>Source code</h3>
            <p>You can find the source code of this blog <a href="https://github.com/ronshalit/blog.js">here</a>. You can use it wherever you want, no strings attached.</p>
        </div>
        
    <div>
        {{#each posts}}
            <a title="{{title}}" href="posts/{{url}}">{{title}}</a><br />
        {{/each}}
    </div>
    </div><!-- container -->
    <!-- github ribbon -->
    <a href="https://github.com/ronshalit/blog.js"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>

    <!-- End Document
    ================================================== -->
</body>
</html>
